# Dependencies
node_modules/

# Build outputs
/dist/
/coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# TypeScript metadata
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/

# Environment files
.env
.env.local
.env.*

# OS files
.DS_Store
Thumbs.db

# Locks
package-lock.json
pnpm-lock.yaml
yarn.lock
